.q::before {
    content: "«";
}

.q::after {
    content: "»";
}
.q {
    font-style: italic;
    font-weight: bold;
}

.intro {
    border-radius: 25px;
    background-color: #f0f7fb;
    border-left: solid 4px  #3498db;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 60px;
  font-style: normal;
 }

.highlighted {
    background-color: yellow;
    font-weight: bold;
}

.speaker {
    color: silver;
    font-weight: bold;
}

.speaker::before {
    content: "— ";
}

code {
    color:      rgb(24, 23, 162);
    font-style: normal;
}

em {
    color: rgb(159, 69, 17);
    font-style: normal;
}

.suppl {
    text-decoration-line:  underline;
    text-decoration-style:  wavy;
    text-decoration-color: silver;  
    font-weight: lighter;
}
.suppl::before {
    content: "💭["
}

.suppl::after {
    content: "]"
}
 
